
<!-- 
<div class="position-fixed bottom-0 end-0 m-3 custom-wsp" style="z-index: 10;">
   <a href="https://wa.me/+543471341059/?text=Buenas tardes, quisiera saber info!" target="_blank" rel="noopener noreferrer">
       <img class="custom-shadow" src="/assets/img/wsp-logo.png" alt="Logo Whatsapp" width="120"  style="cursor: pointer;">
   </a>
</div> -->

<div class="position-fixed bottom-0 end-0 m-3 custom-wsp" style="z-index: 10;">
    <a href="https://wa.me/543471341059" target="_blank" rel="noopener noreferrer">
        <img class="custom-logo" src="/assets/img/wsp-logo.png" alt="Logo Whatsapp" width="120"  style="cursor: pointer;">
    </a>
 </div>
