
.custom-wsp {
    transition: transform 0.5s ease-in-out;
}

.custom-wsp:hover {
    transform: scale(1.3);

}


@media (max-width: 812px) {
    .custom-logo{
        width: 7rem;
    }
}

@media (max-width: 411px) {
    .custom-logo{
        width: 6rem;
    }

    .custom-wsp{
        width: 5rem;
    }

}