

<div  style="height: 10vh; z-index: -1;"></div>



<div class="container py-5">
    <div class="row justify-content-center align-items-center">
        <!-- Sección de datos de contacto -->
        <div class="col-lg-5 mb-4 mb-lg-0">
            <div class="card shadow-lg p-4">
                <h2 class="card-title text-center mb-4 fw-bold ">NUESTROS DATOS DE CONTACTO</h2>
                <h4 class="fw-bold text-success">Cooperativa Bouquet</h4>
                <p class="mb-1"><strong>Email:</strong> agricola&#64;redcrs.com.ar</p>
                <p class="mb-1"><strong>Nro de celular:</strong> +54 0000 000000</p>
                <p class="mb-3"><strong>Sitio Web:</strong> coopeativabouquet.com</p>
                <img src="assets/img/empresa-frente.jpg" alt="Frente de empresa" class="img-fluid rounded">
            </div>
        </div>

        <!-- Sección del formulario de contacto -->
        <div class="col-lg-6">
            <div class="card shadow-lg p-4">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4 fw-bold ">CONTACTANOS</h2>
                    <form id="formulario" (ngSubmit)="enviar()" [formGroup]="formulario" >
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label for="nombre" class="form-label fw-bold">Nombre *</label>
                                <input type="text" id="nombre" class="form-control" formControlName="nombre" required>
                            </div>
                            <div class="col-md-6">
                                <label for="apellido" class="form-label fw-bold">Apellido *</label>
                                <input type="text" id="apellido" class="form-control" formControlName="apellido" required>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label fw-bold">Email *</label>
                            <input type="email" id="email" class="form-control" formControlName="email" required>
                        </div>
                        <div class="mb-3">
                            <label for="telefono" class="form-label fw-bold">Número de teléfono</label>
                            <input type="text" id="telefono" class="form-control" formControlName="telefono">
                        </div>
                        <div class="mb-3">
                            <label for="mensaje" class="form-label fw-bold">Mensaje *</label>
                            <textarea id="mensaje" class="form-control" rows="4" formControlName="mensaje" required></textarea>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="custom-btn custom-btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
                             [disabled]="formulario.invalid">Enviar Mensaje!</button>
                        </div>
                    
<!--                         
                        <div *ngIf="enviado" class="alert alert-success mt-3">¡Mensaje enviado con éxito!</div>
                        <div *ngIf="error" class="alert alert-danger mt-3">{{ error }}</div> -->
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Gracias por comunicarte!</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Hemos enviado tu información y nos comunicaremos en la brevedad contigo! 
        </div>
        <div class="modal-footer">
          <button type="button"  class="custom-btn custom-btn-primary" data-bs-dismiss="modal">Aceptar</button>
        </div>
      </div>
    </div>
  </div>