<p>
    Historia

La Cooperativa Agrícola Ganadera de Bouquet se fund el 1 de septiembre de 1950, y con los avatares propios del crecimiento mantiene una constante evolución.

El 2 de septiembre de 1950 se constituyó la Comisión Fundadora de la Cooperativa Agrícola Ganadera Bouquet Limitada, como medio de asociación para luchar contra los abusos que realizaban algunos acopiadores, y de esa manera defender sus propios intereses.

Durante los primeros años, la cooperativa funcionaba en la propiedad de Otto Bantle, y se alquilaba un galpón del ferrocarril para el acopio de cereales. En 1951, compró a la firma Pontin Calvo un galpón para almacenamiento de granos, y ese mismo año adquirió el negocio de ramos generales de la firma Pellejero y Cía., ubicado en la interseccin de las calles San Martín y Nueve de Julio. En 1968, se concretó la compra de una planta de silos propia, con una capacidad de 3000 toneladas de cereal y una balanza para pesaje de camiones.

Como se observa, las inversiones en la capacidad de almacenaje fueron siempre acompañando el transcurso de la vida de esta cooperativa. Si bien la entidad sufrió, como todas las empresas agropecuarias, los coletazos de las crisis, la confianza y el orgullo de los asociados por mantener vigente a la entidad, hizo que se pudieran sortear los acontecimientos adversos casi siempre producto de factores externos.

El primer Consejo de Administracin estuvo conformado de la siguiente manera:

PRESIDENTE: Erico Lorenz

VICE-PRESIDENTE: Sebastián Bertola

SECRETARIO: Ernesto Terzoni

PRO-SECRETARIO: Cristián PFund

TESORERO: José Escola

PRO-TESORERO: Gerónimo Zanini

VOCALES TITULARES: Felix Merindol
Enrique Girotti

VOCALES SUPLENTES: Santiago Merlo
José Lusso
Domingo Boccassi
Pedro Cosatto

SINDICO TITULAR: Antonio Mestre

SINDICO SUPLENTE: Conrado Terzoni
</p>