

<h2 class="fw-bold text-success">Asesoramiento</h2>
<p class="text-justify">
    Contamos con personal técnico especializado a su disposición de forma <strong>GRATUITA</strong> para lo que usted necesite.
</p>

<ul class="list-group list-group-flush" style="background-color: transparent !important;">
    <li class="list-group-item"> Asesoramiento agronómico integral</li>
    <li class="list-group-item"> Cultivos extensivos</li>
    <li class="list-group-item">Rotaciones agrícolas</li>
    <li class="list-group-item">Margen bruto agrícola</li>
    <li class="list-group-item">Utilización de herbicidas y fertilizantes</li>
  </ul>

  <p class="text-justify" style="margin-top: 1rem;">
    Para más información contactenos al teléfono <strong>(03471) 496230/31 int.23</strong>
</p>
