<div class="container mt-4">
    <h2 class="fw-bold text-center text-success mb-4">GALERÍA DE IMÁGENES</h2>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
            <div id="carouselExample" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="gallery-card">
                    <div class="carousel-image-container">
                        <img src="assets/img/silos-1.jpg" class="gallery-img" alt="Imagen 1">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="gallery-card">
                    <div class="carousel-image-container">
                        <img src="assets/img/trigo-1.jpg" class="gallery-img" alt="Imagen 2">
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="gallery-card">
                    <div class="carousel-image-container">
                        <img src="assets/img/tractor-1.jpg" class="gallery-img" alt="Imagen 3">
                    </div>
                </div>
            </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
        </button>

        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
    </div>
</div>