



<h2 class="fw-bold text-success">Productos Químicos</h2>
<p class="text-justify">
    Contamos con todos los agroquímicos (herbicidas, insecticidas, fungicidas, etc) necesarios para un correcto control de malezas y enfermedades.
    Además proveemos el asesoramiento gratuito de nuestro personal técnico para una correcta y rentable aplicación de los mismos
</p>
<p class="text-justify">
    Los productos comercializados son producidos bajo estrictas normas de calidad en su planta de síntesis y formulación de agroquímicos situada en la localidad de Campana (Prov. de Buenos Aires)
</p>

<h3 class="fw-normal text-success">Protección de Cultivos</h3>

<img src="/assets/img/productos_quimicos1.gif" alt="ACA-logo" >



<div class="accordion mt-4" id="accordionExample">
    <h2>Fertilizantes Sólidos</h2>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Fertilizantes Mezclados
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            A comparación del resto de los fertilizantes que por sí solo no aportan todos los requerimientos específicos de los cultivos, las mezclas multiplican y potencian el aporte de cada nutriente en relación con los demás, obteniendo óptimos resultados en los cultivos.
            <br> A su vez contamos con productos de MEZCLA QUÍMICA que aportan una mayor exactitud a la hora de distribuir nutrientes en el suelo ya que cada parte del fertilizante contiene la proporción exacta de la mezcla.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Fertilizantes Simples
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          Contamos con líneas de productos nitrogenados, fosfatados y potásicos. La selección de proveedores de dicha mercadería es exhaustiva para lograr que lleguen a ud. en las mejores condiciones.
        </div>
      </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Fertilizantes Líquidos
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Soluciones de excelente comportamiento agronómico, alta calidad y flexibilidad de oportunidad de uso. Nuestros productos cuentan con un importante control de calidad de la mercadería recibida, para que el productor este seguro y confiado que lleva un buen producto. 
          </div>
        </div>
      </div>
  </div>


  <h3 class="fw-normal text-success" style="margin-top: 1.2rem;">FERTILIZACION AL VOLEO</h3>

  <p class="text-justify">
    Contamos con una fertilizadora al voleo <strong> POZZI</strong>, puesta a disposición del productor <strong> TOTALMENTE GRATIS </strong>para realizar sus trabajos.
  </p>