




<h2 class="fw-bold text-success">Med. Privada</h2>
<p class="text-justify">
    La Cooperativa le brinda todos los servicios de viajes y turismo a través de Coovaeco Turismo.
</p>

<p class="text-justify">
Coovaeco Turismo forma parte del Grupo Cooperativo formado por la Asociación de Cooperativas Argentinas, La Segunda Coop. De Seguros Generales Ltda. Y ACA Salud.
</p>

<p class="text-justify">
    Ofrece los servicios de turismo nacional e internacional, incluyendo turismo receptivo.
</p>

<p class="text-justify">
    Es una de las principales empresas de turismo del país especializada en viajes técnicos y de capacitación agropecuaria, como así también viajes corporativos y organización integral de congresos y eventos.
</p>

<p class="text-justify">
    Cuenta con un complejo vacacional de 31 bungalows en la ciudad de Santa Rosa de Calamuchita, donde logrará estar en contacto con la naturaleza y todo el paisaje del Valle de Calamuchita, sumado al confort y toda una infraestructura que le permitirán pasara días de vacaciones inolvidables.
</p>

<p class="text-justify">
<a href="http://www.coovaeco.com" target="_blank">www.coovaeco.com</a>
</p>

<p class="text-justify">
<a href="http://www.complejo-coovaeco.com.ar/" target="_blank">www.complejo-coovaeco.com.ar</a>
</p>



<div id="carouselExampleAutoplaying" class="carousel slide container-fluid" data-bs-ride="carousel" style="width: 45%; border-radius: 1rem; border: 1px solid black;background-color: white;">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2500">
        <img src="assets/img/medprivada1.jpg" class="d-block w-100" alt="medprivada1">
      </div>
      <div class="carousel-item" data-bs-interval="2500">
        <img src="assets/img/medprivada2.jpg" class="d-block w-100" alt="medprivada2">
      </div>
      <div class="carousel-item" data-bs-interval="2500">
        <img src="assets/img/medprivada3.jpg" class="d-block w-100" alt="medprivada3">
      </div>
      <div class="carousel-item" data-bs-interval="2500">
        <img src="assets/img/medprivada4.jpg" class="d-block w-100" alt="medprivada4">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>
  </div>