


<h2 class="fw-bold text-success">Combustibles</h2>
<p class="text-justify">
    La Cooperativa Agrícola Ganadera Bouquet Ltda. siempre ha estado al servicio de sus socios-productores. Es por eso que desde 19--, cuenta con la sección de combustibles y lubricantes y a partir de 19-- trabajamos directamente con YPF para abastecer a nuestros socios con los mejores lubricantes y combustibles del país.
</p>

<img src="assets/img/Combustible1.jpg" alt="combustible1" class="img-fluid rounded shadow">

<p class="text-justify">
    Hoy, nuestra empresa, posee una estación moderna, de 500 mts² donde se almacena y se despacha combustibles y lubricantes. 
</p>

<img src="assets/img/Combustible2.jpg" alt="combustible1" class="img-fluid rounded shadow">

<p class="text-justify">
    Este local cuenta con 4 tanques subterráneos, con una capacidad total de 67000 lts, donde se almacena Gas Oil ; y 2 tanques más con una capacidad de 30000 lts. en total para los demás combustibles . Está equipado con 4 surtidores de 2 mangueras, periódicamente controlados por el INTI (Instituto Nacional de Tecnología Industrial), mientras que el combustible es muestreado y analizado para poder mantener siempre la mejor calidad y servicio. Además contamos con un carro-tanque de 3000 lts. que permite el reparto a domicilio de kerosene. 
</p>

<img src="assets/img/Combustible3.jpg" alt="combustible1" class="img-fluid rounded shadow">

<p class="text-justify">
    Para más información comuníquese al teléfono (03471) -496230/231 interno 24 
</p>


