


<h2 class="fw-bold text-success">Semillas/Forrajes</h2>
<p class="text-justify">
    En los últimos años ha mostrado un crecimiento sostenido, gracias a la confianza de los productores, y es por eso que cada día trabajamos para mejorar y ampliar nuestros servicios para adecuarnos al entorno cambiante y competitivo que se vive hoy en día.  
</p>
<p class="text-justify">
    Algunos de los beneficios logrados para el productor es el asesoramiento gratuito del personal técnico y el uso gratuito de la fertilizadora.
</p>
<p class="text-justify">
    Somos conscientes de que la Cooperativa es grande gracias a los socios y productores que confían en ella, es por eso que el 
    <strong> MEJORMAMIENTO CONTINUO</strong> es nuestro principal objetivo. Mejoramiento que se verá reflejado en una mejor prestación de servicios y mejores precios de nuestros productos.
</p>

