





<h2 class="fw-bold text-success">Balanceados</h2>
<p class="text-justify">
    En los últimos años ha mostrado un crecimiento sostenido, gracias a la confianza de los productores, y es por eso que cada día trabajamos para mejorar y ampliar nuestros servicios para adecuarnos al entorno cambiante y competitivo que se vive hoy en día.  
</p>
<p class="text-justify">
    La Cooperativa comercializa toda la gama de productos de la<strong> División Nutricional Animal de ACA</strong> tanto para pequeños como para grandes animales. 
</p>

<img src="/assets/img/balanceado1.jpg" alt="Masitas" class="img-fluid" style="max-width: 450px;">


<p class="text-justify" style="margin-top: 10px;">
    La <strong> División Nutricional Animal de ACA</strong> tiene como objetivo brindar al productor ganadero las mejores técnicas y productos de alta tecnología, fruto de la investigación y desarrollo de su propio Campo Experimental, y la elaboración en la moderna Planta de Producción en San Nicolás. Una amplia red de personal técnico altamente capacitado otorga asesoramiento a los productores pecuarios de todo el país. 
</p>

<p class="text-justify">
    El descubrimiento y puesta en funcionamiento del <strong> Sistema Ruter ®</strong> de crianza de terneros es un avance tecnológico derivado de la permanente búsqueda de la innovación, y ha posicionado nuestra entidad entre las grandes empresas de nutrición animal del mundo.
</p>
<p class="text-justify">
    En la actualidad, desarrolla todas las líneas de reemplazantes de leche (sustitutos lácteos para terneros, cerdos, mascotas, etc.) constituyéndose en el proveedor del 70% del mercado de terneros de tambo. A su vez, produce alimentos para mascotas con la marca Petting y Cooperación
    Para más información contáctenos al teléfono (03471) 496280/359 int. 25 o ingrese a las páginas
</p>

<p class="text-justify">

    <a href="http://www.acanutricion.com.ar" target="_blank">www.acanutricion.com.ar</a>
</p>
<p class="text-justify">

    <a href="http://www.acamascotas.com.ar " target="_blank">www.acamascotas.com.ar </a>
</p>