<p>
    
Consejo

El actual Consejo de Administracin se encuentra conformado de la siguiente manera:

PRESIDENTE: Víctor E. A. Forte

VICE-PRESIDENTE: Claudio A. Agostinelli

SECRETARIO: Ramn I. Marchetti

PRO-SECRETARIO: Leonardo D. Colmenero

TESORERO: Norma T. Mogues

PRO-TESORERO: Mauricio A. Pizzichini

VOCALES TITULARES: Jorge O. De Francesco
Martn A. Lavatelli
Gustavo J. Scaglia

VOCALES SUPLENTES: Luis A. Scenna
Marcelo A. Renghini
Nicols Pavlicich

SINDICO TITULAR: Carlos A. Kunicic

SINDICO SUPLENTE: Lucas L. Paolinelli

</p>
