

<div class="container mt-4">
    <h2 class="fw-bold text-success">Consejo Directivo</h2>

    <p class="text-justify">El actual Consejo de Administracin se encuentra conformado de la siguiente manera:</p>

    <p class="text-justify"> <strong> PRESIDENTE: </strong>Víctor E. A. Forte </p>
    <p class="text-justify"> <strong> VICE-PRESIDENTE: </strong>Claudio A. Agostinelli </p>
    <p class="text-justify"> <strong> SECRETARIO: </strong>Ramn I. Marchetti </p>
    <p class="text-justify"> <strong> PRO-SECRETARIO: </strong>Leonardo D. Colmenero </p>
    <p class="text-justify"> <strong> TESORERO: </strong>Norma T. Mogues </p>
    <p class="text-justify"> <strong> PRO-TESORERO: </strong>Mauricio A. Pizzichini </p>
    <p class="text-justify"> <strong> VOCALES TITULARES: </strong>Jorge O. De Francesco <br>Martin A. Lavatelli <br>Gustavo J. Scaglia </p>
    <p class="text-justify"> <strong> VOCALES SUPLENTES: </strong>Luis A. Scenna <br>Marcelo A. Renghini <br>Nicols Pavlicich </p>
    <p class="text-justify"> <strong> SINDICO TITULAR: </strong>Carlos A. Kunicic </p>
    <p class="text-justify"> <strong> SINDICO SUPLENTE: </strong>Lucas L. Paolinelli </p>
</div>
