
.content-container {
  position: relative;
  /* height: 240vh; */
  min-height: 254px;
  overflow: hidden;
}

.animate-slide {
  position: absolute;
  width: 100%;
  left: -100%;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  background-color: rgba(66, 231, 88, 0.253); /* Fondo semitransparente */
  padding: 15px;
  border-radius: 10px;
}

.animate-slide.active {
  left: 0;
  opacity: 1;
}

/* Cuando la pantalla sea de 771px o menos */
@media (max-width: 771px){
  .custom-btn {
    width: 40%;
  }

  
.content-container {
  min-height: 333px;
}
}

/* Cuando la pantalla sea de 511px o menos */
@media (max-width: 511px) {
  .custom-btn {
    width: 80%;
  }

  .content-container {
    min-height: 433px;
  }
}