
.row {
    position: relative;
    /* top: -12rem; */
    margin-top: -10rem;
}


.custom-color{
    color: rgb(12, 145, 41);
    font-weight: 600;
    font-size: 2.5rem;
}

.custom-card-img {
    margin-top: 10px;
    height: 100%;
    border-radius: 4%;
    border: 2px solid black;
    object-fit: cover;
}

.custom-card {
    border-radius: 4%;
    border: 2px solid black;
    margin-bottom: 3rem;
    background-color: rgb(219, 219, 219);
    filter: drop-shadow(3px 3px 4px black);
    width: 18rem;
}

/* Cuando la pantalla sea de 1270px o menos */
@media (max-width:1270px){
    .row {
        margin-top: -5rem;
    }

    .custom-card {
        width: 15rem; /* Reduce el tamaño de las cards */
    }

    .custom-color{
        font-size: 2rem;
    }
}

/* Cuando la pantalla sea de 812px o menos */
@media (max-width: 812px) {
    .row {
        margin-top: -2rem; /* Elimina el desplazamiento negativo */
    }

    .custom-card {
        width: 14rem; /* Reduce el tamaño de las cards */
        margin-bottom: 1.3rem; /* Agrega separación entre las cards */
    }

    .custom-color{
        font-size: 1.7rem;
    }
   
}

/* Cuando la pantalla sea de 611px o menos */
@media (max-width: 611px) {
    .row {
        margin-top: -2rem; /* Elimina el desplazamiento negativo */
    }

    .custom-card {
        width: 14rem; /* Reduce el tamaño de las cards */
        margin-bottom: 1.5rem; /* Agrega separación entre las cards */
    }

    .custom-color{
        font-size: 1.7rem;
    }
   
}

/* Cuando la pantalla sea de 476px o menos */
@media (max-width: 476px) {
    .row {
        margin-top: -1rem; /* Elimina el desplazamiento negativo */
    }

    .custom-card {
        width: 13rem; /* Reduce el tamaño de las cards */
        margin-bottom: 1.5rem; /* Agrega separación entre las cards */
    }

    .custom-color{
        font-size: 1.6rem;
    }
   
}

/* Cuando la pantalla sea de 400px o menos */
@media (max-width: 400px) {
    .row {
        margin-top: 1.5rem; /* Elimina el desplazamiento negativo */
    }

    .custom-card {
        width: 11rem; /* Reduce el tamaño de las cards */
        margin-bottom: 1.5rem; /* Agrega separación entre las cards */
    }

   
   
}

