

  <div class="row d-flex flex-wrap justify-content-center mx-auto" style="position: relative;">
    
  

      <div class="card mx-2 custom-card" >
        <img src="assets/img/girasol.jpg" class="custom-card-img card-img-top" alt="girasol">
        <div class="card-body">
          <h2 class="card-title text-center fw-bold">GIRASOL</h2>
          <h6 class="card-text text-center">{{ fechaFormateada }}</h6>
          <h1 class="card-text text-center custom-color"> {{ precios.girasol }}</h1>
        </div>
      </div>
    
      <div class="card mx-2 custom-card">
        <img src="assets/img/sorgo.jpg" class="custom-card-img card-img-top" alt="Sorgo">
        <div class="card-body">
          <h2 class="card-title text-center fw-bold">SORGO</h2>
          <h6 class="card-text text-center">{{ fechaFormateada }}</h6>
          <h1 class="card-text text-center custom-color"> {{ precios.sorgo }} </h1>
        </div>
      </div>
    
      <div class="card mx-2 custom-card">
        <img src="assets/img/maiz.jpg" class="custom-card-img card-img-top" alt="Maiz">
        <div class="card-body">
          <h2 class="card-title text-center fw-bold">MAIZ</h2>
          <h6 class="card-text text-center">{{ fechaFormateada }}</h6>
          <h1 class="card-text text-center custom-color"> {{ precios.maiz }} </h1>
        </div>
      </div>
    
      <div class="card mx-2 custom-card">
        <img src="assets/img/trigo.jpg" class="custom-card-img card-img-top" alt="Trigo">
        <div class="card-body">
          <h2 class="card-title text-center fw-bold">TRIGO</h2>
          <h6 class="card-text text-center">{{ fechaFormateada }}</h6>
          <h1 class="card-text text-center custom-color"> {{ precios.trigo }} </h1>
        </div>
      </div>
    
      <div class="card mx-2 custom-card">
        <img src="assets/img/soja.webp" class="custom-card-img card-img-top" alt="Soja">
        <div class="card-body">
          <h2 class="card-title text-center fw-bold">SOJA</h2>
          <h6 class="card-text text-center">{{ fechaFormateada }}</h6>
          <h1 class="card-text text-center custom-color"> {{ precios.soja }} </h1>
        </div>
      </div>

    
      
    </div>

    <div class="container mt-4">
      <h2 class="fw-bold text-success">Quieres obtener más info?</h2>

      <p class="text-justify">
          Puedes obtenerla a través del siguiente botón para acceder a la información necesaria!.
      </p>

      <button type="button" (click)="scrollToTop()"  class="custom-btn custom-btn-primary" [routerLink]="['/Inicio']"  routerLinkActive="active" > Ver todos los Cereales y Condiciones</button>

    </div>

    

