<p>
    La Cooperación

LA COOPERACIÓN 

Los antiguos romanos llamaron cooperación al hecho de ayudarse los hombres entre sí para la realizacin de una tarea en común. La cooperacin es lo que da sentido a la vida del hombre en sociedad. Un hombre solo, nunca será capaz de crear, construir, etc. La cooperación es parte de la naturaleza humana. Es como una energía latente en el alma de cada uno de nosotros y que nos impulsa a unirnos con los demás hombres para realizar una tarea común que nadie podrá llevar a cabo por s solo. 

LAS COOPERATIVAS


Una cooperativa es una asociación autónomas de personas que se han unido voluntariamente para hacer frente a sus necesidades y aspiraciones económicas, sociales y culturales comunes, por medio de una empresa de propiedad conjunta y democráticamente controlada.


LEY DE COOPERATIVAS 

La primer ley de cooperativas que apareció en el mundo fue la "Industrial and Provident Societies Act" dictada en Inglaterra en 1852. Argentina cuenta con una Ley de Cooperativas específica. Las primeras disposiciones legales para el sector cooperativo se encuentran en el Código de Comercio y sus reformas de 1889. En estas reformas se adujo la necesidad de impulsar la legislación cooperativa, introduciéndose tres artículos que resultaron insuficientes para brindar estímulo al movimiento. En 1926 fue sancionada la Ley Argentina de Cooperativas (Ley 11388), prolongándose su vigencia durante 46 aos, hasta mayo de 1973, fecha ésta en que se promulgó la Ley 20337 que actualmente gobierna las cooperativas argentinas.

PRINCIPIOS DEL COOPERATIVISMO 

Las cooperativas se basan en los valores de ayuda mutua, responsabilidad, democracia, igualdad, equidad y solidaridad. Los miembros de una cooperativa creen en los valores éticos de honestidad, transparencia, responsabilidad social y preocupación por los demás. Los principios cooperativos son lineamientos por medio de los cuales las cooperativas ponen en práctica sus valores.

Ellos son:

1) Compromiso con la comunidad: las cooperativas trabajan para el desarrollo sostenible de su comunidad por medio de políticas aceptadas por sus socios.
2) Adhesión abierta y voluntaria: son organizaciones voluntarias, abiertas para todas aquellas personas dispuestas a utilizar sus servicios y dispuestas a aceptar las responsabilidades que conlleva la condición de socios, sin discriminacin de género, raza, clase social, posición política o religiosa.
3) Control democrático de los socios: las cooperativas son organizaciones democráticas controladas por sus socios, quienes participan activamente en la definición de las políticas y en la toma de decisiones.
4) Cooperación entre cooperativas: las cooperativas sirven a sus socios más eficazmente y fortalecen el movimiento cooperativo, trabajando de manera conjunta por medio de estructuras locales, nacionales, regionales e internacionales.
5) Autonomía e independencia: las cooperativas son organizaciones autónomas de ayuda mutua controladas por sus socios. Si entran en acuerdos con otras organizaciones, o tiene capital de fuentes externas, lo realizan en términos que aseguren el control democrático por parte de sus socios y mantengan la autonomía de la cooperativa.
6) Participación económica de los socios: los socios contribuyen de manera equitativa y controlan de manera democrática el capital de la cooperativa. Usualmente reciben una compensación limitada, si es que hay excedente, sobre el capital suscriptor, como consición de socio.
7) Educación, capacitación e información: las cooperativas brindan educación y entrenamiento a sus socios, dirigentes electos, gerentes y empleado, de tal forma que contribuyan eficazmente al desarrollo de sus cooperativas. Las cuales informan al público en general, particularmente a los jóvenes y creadores de opinión, acerca de la naturaleza y beneficios del cooperativismo.

LOS SÍMBOLOS DEL COOPERATIVISMO:
1
La bandera del cooperativismo tiene estampada los colores del arco iris que anuncia la serenidad y la calma que siguen a las grandes tormentas. 
Rojo: representa el fuego y el amor que une a las personas. 
Naranja: nos recuerda un amanecer glorioso 
Amarillo: es el color del sol que da luz, calor y vida. 
Verde: representa la esperanza. 
Azul celeste: es la ilusión. Es el color del cielo y nos estimula a admirar la creación. 
Azul marino: encarna el valor que nos impulsa a buscar nuevas rutas. 
Violeta: significa la humildad, una de las virtudes que nos acerca más a lo divino y al prójimo.

Distintivo
2
El símbolo del cooperativismo. El árbol de pino es un antiguo símbolo de vida, de inmortalidad y de fecundidad. Representa la perennidad, la perseverancia y la solidaridad, tres de los grandes pilares del cooperativismo. Los dos pinos unidos simbolizan la hermandad, la unión y la necesidad de un trabajo conjunto. El círculo tiene la calidad interminable de la eternidad, sin horizonte final. El fondo amarillo del círculo recrea la idea del sol como fuente de luz y vida. El color verde oscuro se asemeja a la clorofila, donde nace el principio vital de la naturaleza.
</p>
<img src="/assets/img/empresa1.jpg" alt="Mapa-ubicacion" >
<img src="/assets/img/empresa2.jpg" alt="Mapa-ubicacion" >