

<h2 class="fw-bold text-success">Seguros</h2>
<p class="text-justify">
    El Grupo Asegurador La Segunda es un conjunto de empresas nacionales con presencia en todo el territorio argentino dedicado a operar en las ramas de Seguros Patrimoniales, Riesgos del Trabajo, Seguros de Vida y Retiro.
</p>
<p class="text-justify">
    Con más de 1000 centros de Atención Personalizada, esta ubicada dentro de las diez primeras aseguradoras integrales del pas; cuenta con ms de un milln de asegurados y tiene el respaldo de las principales reaseguradoras del mundo.
</p>

<p class="text-justify">
    <strong>La Cooperativa Agricola Ganadera Bouquet Ltda </strong> es agencia del grupo asegurador "La Segunda" desde el año 2000 y ofrece desde entonces, toda su gama de productos y servicios de primersima calidad.
</p>


<div id="carouselExampleAutoplaying" class="carousel slide container-fluid" data-bs-ride="carousel" style="width: 35%; border-radius: 1rem; border: 1px solid black;background-color: white;">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2500">
        <img src="assets/img/seguros1.gif" class="d-block w-100" alt="seguros1">
      </div>
      <div class="carousel-item" data-bs-interval="2500">
        <img src="assets/img/seguros2.gif" class="d-block w-100" alt="seguros2">
      </div>
      <div class="carousel-item" data-bs-interval="2500">
        <img src="assets/img/seguros3.gif" class="d-block w-100" alt="seguros3">
      </div>
      <div class="carousel-item" data-bs-interval="2500">
        <img src="assets/img/seguros4.gif" class="d-block w-100" alt="seguros4">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>
  </div>