
<div class="container mt-4">
    <h2 class="fw-bold text-success">Ubicación</h2>

    <p class="text-justify"> <strong> Oficinas administrativas: SAN MARTIN 388 - (2523) BOUQUET</strong></p> <p class="text-end" style="margin-top: -2.5rem;">  Planta de Acopio / Zona suburbana</p>
    <p class="text-justify"> <strong> Teléfonos: 03471 - 496280/496359</strong> </p> <p class="text-end" style="margin-top: -2.5rem;">  Estación de Servicios / Zona suburbana</p>
    <p class="text-justify"> <strong> Email: agrcola&#64;redcrs.com.ar</strong> </p> <p class="text-end" style="margin-top: -2.5rem;">  Agronomía / Zona suburbana</p>

    <img src="/assets/img/ubicacion.jpg" alt="Mapa-ubicacion" ><img src="/assets/img/ubicacion.jpg" alt="Mapa-ubicacion" >
</div>
