
<div class="container mt-4">
    <h2 class="fw-bold text-success">Ubicación</h2>

    <p class="text-justify"> <strong> Oficinas administrativas: SAN MARTIN 388 - (2523) BOUQUET</strong></p>
        <p class=" custom-text-space" >  Planta de Acopio / Zona suburbana</p>

    <p class="text-justify"> <strong> Teléfonos: 03471 - 496280/496359</strong> </p> 
        <p class=" custom-text-space" >  Estación de Servicios / Zona suburbana</p>

    <p class="text-justify"> <strong> Email: agrcola&#64;redcrs.com.ar</strong> </p> 
        <p class=" custom-text-space" >  Agronomía / Zona suburbana</p>

        <p class=" custom-text-hidden" >  Planta de Acopio / Zona suburbana</p>
        <p class=" custom-text-hidden" >  Estación de Servicios / Zona suburbana</p>
        <p class=" custom-text-hidden" >  Agronomía / Zona suburbana</p>

    <img src="/assets/img/ubicacion.jpg" alt="Mapa-ubicacion" class="img-fluid" >
</div>
