

<h2 class="fw-bold text-success">Turismo</h2>
<p class="text-justify">
    La Cooperativa le brinda todos los servicios de viajes y turismo a través de Coovaeco Turismo.
    Coovaeco Turismo forma parte del Grupo Cooperativo formado por la Asociación de Cooperativas Argentinas, La Segunda Coop. De Seguros Generales Ltda. Y ACA Salud.
</p>

<p class="text-justify">
    Ofrece los servicios de turismo nacional e internacional, incluyendo turismo receptivo.
</p>

<p class="text-justify">
    Es una de las principales empresas de turismo del país especializada en viajes técnicos y de capacitación agropecuaria, como as también viajes corporativos y organización integral de congresos y eventos.
</p>

<p class="text-justify">
    Cuenta con un complejo vacacional de 31 bungalows en la ciudad de Santa Rosa de Calamuchita, donde logrará estar en contacto con la naturaleza y todo el paisaje del Valle de Calamuchita, sumado al confort y toda una infraestructura que le permitirán pasara días de vacaciones inolvidables.
</p>

<p class="text-justify">
    <a href="http://www.coovaeco.com">www.coovaeco.com</a>
</p>

<p class="text-justify">
    <a href="http://www.complejo-coovaeco.com.ar/">www.complejo-coovaeco.com.ar/</a>
</p>

<img src="assets/img/turismo1.jpg" alt="turismo1" class="img-fluid rounded shadow">







<div id="carouselExampleAutoplaying" class="carousel slide container-fluid" data-bs-ride="carousel" style="width: 100%; border-radius: 1rem; border: 1px solid black;background-color: rgb(0, 0, 0); margin-top: 2rem;">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="2000">
        <img src="assets/img/turismo-1.jpg" class="d-block w-100" alt="turismo1">
        <div class="carousel-caption d-none d-md-block" style="background-color: rgba(48, 49, 48, 0.5);">
            <h5>COOVAECO</h5>

            <p> Te lleva al destino que elijas </p>
        </div>

      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="assets/img/turismo-2.jpg" class="d-block w-100" alt="turismo2">
        <div class="carousel-caption d-none d-md-block" style="background-color: rgba(48, 49, 48, 0.5);">
            <h5>Viajes Técnicos</h5>

            <p> de Negocios y Capacitación </p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="assets/img/turismo-3.jpg" class="d-block w-100" alt="turismo3">
        <div class="carousel-caption d-none d-md-block" style="background-color: rgba(48, 49, 48, 0.5);">
            <h5>ORGANIZACIÓN DE EVENTOS</h5>

            <p> y todo lo que necesites! </p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>
  </div>