
<div  style="height: 10vh; z-index: -1;"></div>

  <div class="container border border-secondary rounded p-4">
    <h2 class="text-center mb-4">Instuticional</h2>
    
    <h2 class="fw-bold text-success">La Cooperativa</h2>
    <p class="text-justify">
      En la actualidad cuenta con una capacidad de acopio de 42.000 toneladas
      y alquila al Ferrocarril Nuevo Central Argentino (NCA), un galpón con capacidad de 1500 toneladas,
      que es el mismo que ocupó en los años '50.       
    </p>
    <p class="text-justify">
      Los productores asociados reciben los servicios de acopio de cereales, provisión de insumos agropecuarios (productos químicos, lubricantes, gasoil, aceites y fertilizantes), y asesoramiento técnico sin costo para los productores, que está a cargo de dos ingenieros agrónomos. Las empresas del Grupo ACA, Grupo Asegurador La Segunda, ACA Salud y Coovaeco Turismo, suman sus prestaciones a los asociados. 
    </p>
    <p class="text-justify">
      La planta de acopio de la entidad, constituye todo un orgullo para quienes integran el grupo de trabajo que la sustenta y también para sus asociados. Se desarmó una celda y en su lugar, se ubicaron dos nuevos silos que constituirán un verdadero soporte en lo referido al acondicionamiento del cereal que entregan los productores.
    </p>
    <p class="text-justify">
      Ubicada en una zona, que como tantas otras, pasó a convertirse en mayoritariamente agrícola durante los últimos años, esta "empresa del pueblo", como le llaman algunos lugareños, cuenta con semilleros que están distribuidos en tres campos arrendados para la reproduccin de semillas, lo que constituye otro servicio muy importante para los productores. 
    </p>
    <p class="text-justify">
      En 1999, la cooperativa pasó por una de las peores etapas de su vida institucional. Se recurrió entonces a la colaboracin de los asociados, quienes fueron los verdaderos artífices de su recuperación posterior. Estos depositaron su cereal en la cooperativa, que proyectó un plazo mediano para la devolución de los quintales concedidos en carácter de préstamo.
    </p>
    <p class="text-justify">
      A partir de 2002, se inició una paulatina recuperación de la Cooperativa de Bouquet, que apuntó sus objetivos hacia la planta de almacenamiento a la que le incorporó un silo más grande. Estos logros son valorados por sus autoridades, como el resultado del apoyo incondicional brindado por la ACA, sumado al aporte permanente de los asociados a la entidad santafesina.
    </p>


  

    <div class="d-flex justify-content-center gap-2 mb-4">
      <button class="custom-btn custom-btn-primary" (click)="seleccionar('historia')">Historia</button>
      <button class="custom-btn custom-btn-primary" (click)="seleccionar('cooperacion')">Cooperación</button>
      <button class="custom-btn custom-btn-primary" (click)="seleccionar('consejo')">Consejo</button>
      <button class="custom-btn custom-btn-primary" (click)="seleccionar('ubicacion')">Ubicación</button>
    </div>
  
    <!-- Contenedor de contenido dinámico con efecto de transición -->
    <div class="content-container">
      <div class="animate-slide" [class.active]="activo === 'historia'">
        <app-institucion-historia/>
      </div>
  
      <div class="animate-slide" [class.active]="activo === 'cooperacion'">
        <app-institucion-coop/>
      </div>
  
      <div class="animate-slide" [class.active]="activo === 'consejo'">
        <app-institucion-consejo/>
      </div>
  
      <div class="animate-slide" [class.active]="activo === 'ubicacion'">
        <app-institucion-ubicacion/>
      </div>
    </div>
  </div>

  <div  style="height: 10vh; z-index: -1;"></div>
  